<h1>Register to <%= @event.name %> </h1>
      <% if notice!=nil %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <ul>
                    <li><%=notice%></li>
              </ul>
            </div>
        <% end %>


<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users_of_event.each do |u| %>
      <tr>
        <td> <%=u.email%> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= @hola %>

<%= form_tag controller: "events", action: "register_user", method: :post do %>
  <%= label_tag "Email" %>
  <%= text_field_tag :email %>

  <%= submit_tag "Register user" %>
<% end %>
